In [2]:
import pandas as pd # чаще всего импортируют под именем pd

# Создание датафрейма с двумя колонками из списка кортежей
df = pd.DataFrame([("Python", 6), ("Python", 8), ("ML", 20)],
columns=['block', 'lessons'])
df

    block  lessons
0  Python        6
1  Python        8
2      ML       20

In [3]:
# Можно фильтровать записи через логические условия
df[df['block'] == 'Python']

    block  lessons
0  Python        6
1  Python        8

In [4]:
# создавать колонки
result = []
for i in range(1, df.shape[0] + 1):
    result.append(f'course_{i}')
df['#'] = result
df

    block  lessons         #
0  Python        6  course_1
1  Python        8  course_2
2      ML       20  course_3

In [5]:
# Сгруппировать по колонке "block" и вывести сумму в пределах группы для каждой колонки
df.groupby('block').sum()

        lessons                 #
block
ML           20          course_3
Python       14  course_1course_2

In [6]:
# Сохраним результат в файл
df.to_csv('1.csv', index=False)
# Прочитаем файл
df_1 = pd.read_csv('1.csv', index_col=0)
df_1

        lessons         #
block
Python        6  course_1
Python        8  course_2
ML           20  course_3